.cd-section {
  height: 100vh;
}
.cd-section:first-of-type > div {
  background-color: #2b334f;
}
.cd-section:nth-of-type(2) > div {
  background-color: #2e5367;
}
.cd-section:nth-of-type(3) > div {
  background-color: #267481;
}
.cd-section:nth-of-type(4) > div {
  background-color: #fcb052;
}
.cd-section:nth-of-type(5) > div {
  background-color: #f06a59;
}
.cd-section:nth-of-type(6) > div {
  background-color: #f06a59;
  
[data-animation="parallax"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="parallax"] .cd-section:first-of-type > div {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5f4397d08824281c596b53af/89dcf93d-7dd4-412e-8716-0538bd8b86f9/slide-1.png");
  background-color:#FFF;
}
[data-animation="parallax"] .cd-section:nth-of-type(2) > div {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5f4397d08824281c596b53af/74d6e678-5f9b-48e7-beea-d6f6e2fd40bd/slide-2.png");
}
[data-animation="parallax"] .cd-section:nth-of-type(3) > div {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5f4397d08824281c596b53af/f9715d2d-dcb9-4bc5-9175-1c7aa7e29494/slide-3.png");
}
[data-animation="parallax"] .cd-section:nth-of-type(4) > div {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5f4397d08824281c596b53af/fd21e5a5-3b1b-459c-975e-40498ece6ce2/slide-4.png");
}
[data-animation="parallax"] .cd-section:nth-of-type(5) > div {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5f4397d08824281c596b53af/59a4d774-1463-4356-b15d-ac8ca9f5699f/slide-5.png");
}
[data-animation="parallax"] .cd-section:nth-of-type(6) > div {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5f4397d08824281c596b53af/8b93a075-5228-4b54-a04b-2d54ec3c2943/slide-6.png");
}
